#site-content.page.page-core-about {
  h2.page-title {
    text-align: center;
    font: 700 32pt/1.15em $font-content;
    color: $color_primary_6;
    margin: 0 0 50px 0;
  }

  p {
    font-size: 13pt;
    color: $color_dark_6;
    line-height: 1.75em;
    margin: 0 0 20px 0;
  }
}
