// Color definitions
// From lightest to darkest
$color_light_0: #ffffff;
$color_light_1: #f7f7f7;
$color_light_2: #ebeded;
$color_light_3: #dee2e3;
$color_light_4: #d2d5d6;
$color_light_5: #c6cbcc;
$color_light_6: #bac1c2;

$color_primary_1: #1ce68b;
$color_primary_2: #1ad983;
$color_primary_3: #16cc7a;
$color_primary_4: #15c274;
$color_primary_5: #12b56c;
$color_primary_6: #0faa63;

$color_dark_1: #626466;
$color_dark_2: #565859;
$color_dark_3: #4c4e4f;
$color_dark_4: #3f4142;
$color_dark_5: #353738;
$color_dark_6: #2b2d2e;


// Bootstrap
$color_bootstrap_primary: #2b97de;
$color_bootstrap_success: #1ecd6c;
$color_bootstrap_danger: #ea4b35;
$color_bootstrap_warning: #f1c500;
$color_bootstrap_info: #2d96dd;
$color_bootstrap_default: #bdc2c8;



// Fonts

// <3 helvetica & Source Pro families
$font_content: 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Source Sans Pro', 'Arial', Sans-serif;
$font_headers: 'Source Serif Pro', Serif;
