{% extends "core/content.html" %}
{% load staticfiles i18n %}

{% block site_title %}About - Study &laquo; {% trans "Organize your education" %}{% endblock %}

{% block site_content %}
    <div id="site-content" class="page page-padding page-core-about">
        <div class="container">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <article class="fullwidth">
                    <h2 class="page-title">{% trans "About the project" %}</h2>
                    <p>Study to serwis skierowany do uczniów i studentów, który pomoże im w wyrobieniu dobrych nawyków i organizowaniu nauki. Tworząc go chcieliśmy rozwiązać problem, który widzieliśmy u wielu uczniów: większość z nas nie wie jak się uczyć, zmotywować, czy zorganizować naukę.</p>

                    <p>Serwis składa się z dwóch modułów: kalendarza i bloga z poradami.</p>
                    <p>Dzięki kalendarzowi uczniowie nie zapomną już o ważnych terminach (o ile nie jest to celowe). Dodatkowo dzięki poradnikom umieszczonym na blogu dostaną narzędzia, które pomogą im się uczyć szybciej i z lepszymi efektami.</p>

                    <p>Pragniemy zaznaczyć, że projekt jest nadal w wersji rozwojowej i z upływem czasu zostanie przez nas dodana większa ilość funkcji.</p>
                    <p>Study powstał jako praca konkursowa w ramach projektu "Akademia 3.0 - apki.org" stworzego przez Fundację Media 3.0.</p>
                </article>
                <article class="fullwidth">
                    <h2 class="page-title">{% trans "Authors" %}</h2>
                    <p>{% trans "The creators and maintainers of the Study project are three developers" %}:</p>
                    <ul>
                        <li><a target="_blank" href="https://github.com/tkajtoch">Tomasz Kajtoch (@tkajtoch)</a></li>
                        <li><a target="_blank" href="https://github.com/pkuznik">Piotr Kuźnik (@pkuznik)</a></li>
                        <li><a target="_blank" href="https://github.com/mzukiewicz">Michał Żukiewicz (@mzukiewicz)</a></li>
                    </ul>
                    <p>{% trans "However the project is licensed under GNU GPL v3 - this means that everybody (yes, **you too!**) can contribute and make Study project even better. Every contributor will be listed below. Have an idea or found a bug? Look at our GitHub repository and write to us!" %}</p>
                </article>
                <article class="fullwidth">
                    <h2 class="page-title">{% trans "Press coverage" %}</h2>
                    <p>{% trans "They were written about us" %}:</p>
                    <ul>
                        <li>05 Dec 2015 - <a target="_blank" href="http://www.rybnik.com.pl/wiadomosci,zaglosuj-na-projekt-mlodych-programistow-z-and-8222;tyglaand-8221;,wia5-3277-28892.html">Zagłosuj na projekt młodych programistów z "Tygla"</a></li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
{% endblock %}