{% extends "core/content.html" %}
{% load staticfiles i18n %}

{% block site_title %}About - Study &laquo; {% trans "Organize your education" %}{% endblock %}

{% block site_content %}
    <div id="site-content" class="page page-padding page-core-about">
        <div class="container">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <article class="fullwidth">
                    <h2 class="page-title">{% trans "About the project" %}</h2>
                    <p>Study to serwis skierowany do uczniów i studentów, który pomoże im w wyrobieniu dobrych nawyków i organizowaniu nauki. Tworząc go chcieliśmy rozwiązać problem, który widzieliśmy u wielu uczniów: większość z nas nie wie jak się uczyć, zmotywować, czy zorganizować naukę.</p>

                    <p>Serwis składa się z dwóch modułów: kalendarza i bloga z poradami.</p>
                    <p>Dzięki kalendarzowi uczniowie nie zapomną już o ważnych terminach (o ile nie jest to celowe). Dodatkowo dzięki poradnikom umieszczonym na blogu dostaną narzędzia, które pomogą im się uczyć szybciej i z lepszymi efektami.</p>

                    <p>Pragniemy zaznaczyć, że projekt jest nadal w wersji rozwojowej i z upływem czasu zostanie przez nas dodana większa ilość funkcji.</p>
                    <p>Study powstał jako praca konkursowa w ramach projektu "Akademia 3.0 - apki.org" stworzego przez Fundację Media 3.0.</p>
                </article>
            </div>
        </div>


    </div>


{% endblock %}