{% extends "core/content.html" %}
{% load staticfiles i18n %}

{% block site_title %}About - Study &laquo; {% trans "Organize your education" %}{% endblock %}

{% block site_content %}
    <div id="site-content" class="page page-padding page-core-about">
        <div class="container">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <article class="fullwidth">
                    <h2 class="page-title">{% trans "About the project" %}</h2>
                    <p>Study is a website made for students that will help them in making good habits and planning their studying. By creating it we wanted to solve a problem that we have seen for many students: most of us do not know how to motivate ourselfs or organize learning.
                    <p>The service is composed of two modules: a calendar and a blog with tutorials.
                    <p>With our calendar students will never forget about important dates (unless they want to). Additionally, thanks to tutorials they will get tools that will help them to learn faster and better.
                    <p>We want to highlight that this project is still in the development and we will add more functions over the time.
                    <p>Study was created as a competition entry under "Akademia 3.0 - apki.org" project created by the Fundacja Media 3.0.</p>
                </article>
                <article class="fullwidth">
                    <h2 class="page-title">{% trans "Authors" %}</h2>
                    <p>{% trans "The creators and maintainers of the Study project are three developers" %}:</p>
                    <ul>
                        <li><a target="_blank" href="https://github.com/tkajtoch">Tomasz Kajtoch (@tkajtoch)</a></li>
                        <li><a target="_blank" href="https://github.com/pkuznik">Piotr Kuźnik (@pkuznik)</a></li>
                        <li><a target="_blank" href="https://github.com/mzukiewicz">Michał Żukiewicz (@mzukiewicz)</a></li>
                    </ul>
                    <p>{% trans "However the project is licensed under GNU GPL v3 - this means that everybody (yes, **you too!**) can contribute and make Study project even better. Every contributor will be listed below. Have an idea or found a bug? Look at our GitHub repository and write to us!" %}</p>
                </article>
                <article class="fullwidth">
                    <h2 class="page-title">{% trans "Press coverage" %}</h2>
                    <p>{% trans "They were written about us" %}:</p>
                    <ul>
                        <li>05 Dec 2015 - <a target="_blank" href="http://www.rybnik.com.pl/wiadomosci,zaglosuj-na-projekt-mlodych-programistow-z-and-8222;tyglaand-8221;,wia5-3277-28892.html">Zagłosuj na projekt młodych programistów z "Tygla"</a></li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
{% endblock %}