{% load staticfiles i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:locale" content="pl_PL">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Study - Zorganizuj swoją naukę">
        <meta property="og:description" content="Study to serwis, który pomoże Ci organizować szkolne i studenckie życie. Już nigdy nie zapomnisz o nadchodzących egzaminach i innych ważnych dla Ciebie datach. Zaproś swoich znajomych i dzielcie się notatkami!">
        <meta property="og:url" content="http://studyapp.pw/">
        <meta property="og:site_name" content="Study">
        <meta property="og:image" content="http://studyapp.pw/static/images/symbol.png" />
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "css/hint.min.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "css/jquery-ui-timepicker.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "css/main.min.css" %}" type="text/css">
        {% block head_section %}{% endblock %}
        <title>{% block site_title %}Study &laquo; {% trans "Organize your education" %}{% endblock %}</title>
        <script type="application/javascript">
            WebFontConfig = {
                google: {
                    families: [
                        'Source Serif Pro:400,700:latin-ext',
                        'Source Sans Pro:200,400,600,700:latin-ext',
                    ]
                },
                timeout: 3000,
            };

            (function(d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            s.parentNode.insertBefore(wf, s);
            })(document);
        </script>
    </head>
    <body>
        {% block body_section %}{% endblock %}
        {% block body_after %}{% endblock %}

        <script type="application/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script>
        <script type="application/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
        <script type="application/javascript" src="{% static "js/bootstrap-notify.min.js" %}"></script>
        <script type="application/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
        <script type="application/javascript" src="{% static "js/jquery-ui-timepicker.js" %}"></script>
        {% if messages %}
            <script type="application/javascript">
                {% for message in messages %}
                    $.notify({
                        message: "{{ message }}"
                    },{
                        type: "{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}",
                        delay: 4000,
                        timer: 1000,
                        placement: {
                            from: "top",
                            align: "left",
                        }
                    });
                {% endfor %}
            </script>
        {% endif %}
        <script type="application/javascript">
            function getCookie(c_name) {
                if (document.cookie.length > 0) {
                    c_start = document.cookie.indexOf(c_name + "=");
                    if (c_start != -1) {
                        c_start = c_start + c_name.length + 1;
                        c_end = document.cookie.indexOf(";", c_start);
                        if (c_end == -1) c_end = document.cookie.length;
                        return unescape(document.cookie.substring(c_start,c_end));
                    }
                }
                return "";
            }

            $.ajaxSetup({
                headers: {"X-CSRFToken": getCookie("csrftoken")}
            });
        </script>
        <script type="application/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-71278171-1', 'auto');
            ga('send', 'pageview');
        </script>
        {% block additional_scripts %}{% endblock %}
    </body>
</html>
