{% extends "core/base.html" %}
{% load staticfiles i18n %}

{% block body_section %}
    <div id="wrapper">
        <div id="content-wrapper">
            <header id="site-head">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 hidden-xs">
                            <div class="side-left">
                                <ul class="menu hidden-xs">
                                    <li role="presentation"><a href="{% url 'user:login' %}">{% trans "Guide" %}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="side-center">
                                <a href="{% url 'core:index' %}">
                                    <img class="logo" width="94" height="45" src="{% static "images/logo.svg" %}">
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-4 text-right">
                            <div class="side-right">
                                {% if user.is_authenticated %}
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" id="userdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="hint--left hint--rounded hint--bounce" data-hint="{% trans "Profile" %}">
                                                <img width="44" height="44" src="{% if user.avatar.picture %}{{ user.avatar.picture.url }}{% else %}{% static "images/user_avatar_default.jpg" %}{% endif %}" class="img-circle">
                                                {% if notifications_count > 0 %}
                                                    &nbsp;<span class="notifications-badge">{{ notifications_count }}</span>
                                                {% endif %}
                                            </span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="userdropdown">
                                            <li>
                                                <a href="{% url 'user:notifications' %}">{% trans "Notifications" %}
                                                {% if notifications_count > 0 %}
                                                    <span class="badge">{{ notifications_count }}</span>
                                                {% endif %}
                                                </a>
                                            </li>
                                            <li><a href="{% url 'user:settings' %}">{% trans "Settings" %}</a></li>
                                            <li class="divider"></li>
                                            {% if user.is_staff %}
                                                <li><a href="{% url 'admin:index' %}">{% trans "Admin Panel" %}</a></li>
                                            {% endif %}
                                            <li><a href="{% url 'user:logout' %}">{% trans "Logout" %}</a></li>
                                        </ul>
                                    </div>
                                    <ul class="menu visible-xs">
                                        <li role="presentation"><a href="{% url 'user:login' %}">{% trans "Guide" %}</a></li>
                                    </ul>
                                {% else %}
                                    <ul class="menu">
                                        <li role="presentation"><a href="{% url 'user:login' %}">{% trans "Guide" %}</a></li>
                                        <li role="presentation"><a href="{% url 'user:login' %}">{% trans "Sign in" %}</a></li>
                                        <li role="presentation"><a href="{% url 'user:register' %}">{% trans "Sign up" %}</a></li>
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            {% block site_content %}{% endblock %}
        </div>
        <footer id="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <div class="side-left">
                            Copyright &copy; 2015 <a target="_blank" href="https://github.com/csebastian2/study/blob/master/AUTHORS">Study Project Authors and Contributors</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="side-right">
                            <ul>
                                <li><a href="{% url 'core:about' %}">{% trans "About" %}</a></li>
                                <li><a target="_blank" href="https://github.com/csebastian2/study/">{% trans "GitHub" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
