{% extends "core/content.html" %}
{% load staticfiles i18n %}

{% block site_title %}{% trans "Dashboard" %} - Study &laquo; {% trans "Organize your education" %}{% endblock %}

{% block site_content %}
    <div id="site-content" class="page page-padding page-core-dashboard">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% if not user.is_active %}
                        <div class="alert alert-info">
                            <p>{% trans "Your account hasn't been activated yet. Activate your account by clicking on the link inside the message we've sent to your email address." %}</p>
                            <p>{% trans "Message lost? You can" %} <a class="alert-link" href="#">{% trans "resend activation email" %}</a></p>
                        </div>
                    {% endif %}
                    <div id="my-calendars">
                        <h2 class="page-title">{% trans "My Calendars" %}</h2>
                        <div id="my-calendars-grid" data-columns>
                            {% for calendar in calendars %}
                                <a href="{% url 'calendar:calendar' calendar.pk %}">
                                    <div class="calendar">
                                        <span>{{ calendar.name }}</span>
                                    </div>
                                </a>
                            {% endfor %}
                            <a href="{% url 'calendar:new' %}">
                                <div class="calendar">
                                    <span><i class="fa fa-plus"></i>{% trans "Create new..." %}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script type="application/javascript" src="{% static "js/salvattore.min.js" %}"></script>
{% endblock %}
