{% extends "core/content.html" %}
{% load staticfiles i18n %}

{% block site_content %}
    <div id="site-content" class="page page-core-index">
        <div id="sections">
            <div class="section section-hello text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <h1>{% trans "Study is a web service made for students." %}</h1>
                            <h2>{% trans "From now you will never forget about homework and tomorrow's exam." %}</h2>
                            <div class="scroll-down-and-find-out-more">
                                <h3>{% trans "Scroll down and find out more!" %}</h3>
                                <img width="36" height="49" src="{% static "images/arrows.svg" %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-carousel text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <div id="features-carousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <div class="carousel-content">
                                            <div>
                                                <h1>{% trans "Create your own schedule and organize all the tasks in one place." %}</h1>
                                                <p>{% trans "Study gives you tools to organize your daily study calendar. Create free account and check how useful it is." %}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="carousel-content">
                                            <div>
                                                <h1>{% trans "Work alone, with your classmates or both." %}</h1>
                                                <p>{% trans "You can create a personal study calendar but you are able to be in a team with your classmates. Every person in the team can add tasks but also notes and pictures to them." %}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="carousel-content">
                                            <div>
                                                <h1>{% trans "Receive reminders before an exams." %}</h1>
                                                <p>{% trans "Enable reminders and receive notifications about the upcoming tasks and exams. Directly to your email and smartphone." %}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <ol class="carousel-indicators">
                                    <li data-target="#features-carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#features-carousel" data-slide-to="1"></li>
                                    <li data-target="#features-carousel" data-slide-to="2"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-sign-up text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h1>{% trans "Create your account for free" %}</h1>
                            <br>
                            <a href="{% url 'user:register' %}" class="btn btn-lg btn-success">{% trans "Sign up" %}</a>&nbsp;&nbsp;or&nbsp;&nbsp;<a href="{% url 'user:login' %}" class="btn btn-lg btn-primary">{% trans "Sign in" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block additional_scripts %}
    <script type="application/javascript" src="{% static "js/main.js" %}"></script>
{% endblock %}
